* {
  padding: 1rem;
}
.container {
  width: 330px;
  height: 150px;
  background-color: #d9d2d9;
  border-radius: 0.5rem;
}
.col {
  border-radius: 0.5rem;
  width: 100%;
  height: 5px;
  background-color: #ff452c;
}

h3 {
  color: whitesmoke;
  position: relative;
  bottom: 2.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
}

.imagem {
  position: relative;
  display: flex;
  width: 120px;
  justify-content: space-between;
  bottom: 2.3rem;
  right: 3rem;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 1.2rem;
}

.titulo-card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  left: -31px;
  top: 17px;
  position: relative;
  height: 105px;
  margin-top: 0.5rem;
  color: rgb(112, 103, 103);
  font-weight: bold;
  
}

.nome {
  text-align: center;
  font-size: 0.8rem;
  padding: 0;
  text-align: center;
  color: #407088;

  
}
.email {
  width: 200px;
  font-size: 0.8rem;
  padding: 0;
  text-align: center;
  color: #407088;
}
